// Existing styles in layout.sass

body
  display: flex
  flex-direction: column

article
  flex-grow: 1

body > header, body > footer
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-between
  margin-left: calc(-50vw + 50%)  // Center the footer within the viewport
  margin-right: calc(-50vw + 50%)
  padding: 1.5em

.container
  width: 100%
  max-width: 1400px  // Adjust this value as needed
  margin: 0 auto
  padding: 0

article header
  margin-bottom: 1.5em

article header h1
  font-size: 1.7em
  margin: 0 0 .1em

nav
  margin: .5em -1.2em 
  display: flex
  flex-wrap: wrap

nav a
  margin: .5em 1.2em
  text-decoration: none
  color: white

// Full-width image styling
.full-width-image
  width: 100vw
  margin-left: calc(-50vw + 50%)
  margin-right: calc(-50vw + 50%)
  max-width: none
  height: auto

// Mobile Styles
@media (max-width: 768px)
  body > header, body > footer
    flex-direction: column
    align-items: flex-start
    padding: 10px 0

  nav
    display: none // Hide menu by default on mobile
    flex-direction: column
    width: 100%
    background-color: #333
    position: absolute
    top: 60px // Adjust based on header height
    left: 0

  nav.show
    display: flex // Show the menu when .show class is applied

  nav a
    margin: 10px 0
    font-size: 18px // Adjust font size for better readability on mobile
