body
  padding: 0  // Remove any default padding from the body
  margin: 0   // Remove any default margin from the body
  display: flex
  flex-direction: column
  overflow-x: hidden  // Prevent horizontal scrolling

article
  flex-grow: 1

body > header, body > footer
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-between
  margin-left: calc(-50vw + 50%)  // Center within the viewport
  margin-right: calc(-50vw + 50%)
  padding: 1.5em

.container
  width: 100%
  max-width: 1400px
  margin: 0 auto
  padding: 0

article header
  margin-bottom: 1.5em

article header h1
  font-size: 1.7em
  margin: 0 0 .1em

nav
  margin: .5em -1.2em 

nav a
  margin: .5em 1.2em

// Full-width image styling
.full-width-image
  width: 100vw  // Make sure the image spans the full width of the viewport
  height: auto  // Maintain the aspect ratio
  margin: 0  // Remove any unwanted margins
  display: block  // Ensures the image does not get any inline spacing
